@keyframes toTransparency{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes fromTransparency{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@font-face {
  font-family: "FreeSerif";
  src: url("../fonts/freeserif.eot");
  src: url("../fonts/freeserif.eot?#iefix") format("embedded-opentype"),
    url("../fonts/freeserif.woff2") format("woff2"),
    url("../fonts/freeserif.woff") format("woff"),
    url("../fonts/freeserif.ttf") format("truetype"),
    url("../fonts/freeserif.svg#FreeSerif") format("svg");
  font-weight: normal;
  font-style: normal;
}
body{
  font: 14px/18px FreeSerif, serif;
  color: #254e56;
}

.p3d-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .main {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
  }
}
.settings{
  position: fixed;
  top: 0px;
  right: 0;
  width: 200px;
  text-align: left;
  z-index: 2;
  button{
    text-transform: uppercase;
    border: 1px solid rgba(#254e56, .3);
    border-radius: 3px;
    margin: 5px 0 10px;
    padding: 5px 10px;
  }
  .error{
    color: rgba(#ff0000, .5);
    display: none;
    &.show{
      display: block;
    }
  }
}
.help{
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  pointer-events: none;
  text-align: center;
  z-index: 2;
  p{
    font: 22px/28px FreeSerif, serif;
    letter-spacing: 1px;
  }
}
#texture {
  display: none;
}

@include spinner-balls("white", 50px, 5, #ffffff);

.iloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000000, .4);
  z-index: 3;
  opacity: 0;
  display: none;
  &.show{
    display: block;
    animation: fromTransparency .4s ease 0s both;
  }
  &.hide{
    display: block;
    animation: toTransparency .4s ease 0s both;
  }
  .spinner-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
  }

}